 /* HERO ANIMATION */
.lp2_HomePage .HomePage {
    width: 100%;  
    position: relative;
    overflow: hidden;
}
.lp2_HomePage .heroAnimation{
    position: absolute;
    left: 0px;
    top: 0px;
}
.lp2_HomePage .heroLayer {  
    height: 400px; 
    width: 17000px;
    background-repeat: repeat-x;
    background-clip: border-box;
    background-size: auto 100%;
    position: absolute;
}
.lp2_HomePage .heroLayerStatic {
    width: 330px;
}
 
.lp2_HomePage #heroLayer0{
    background-image: url("../../files/images/hero/SC Flying.gif");
    background-repeat: no-repeat;
}
.lp2_HomePage #heroLayer1{
    background-image: url("../../files/images/hero/layer1.png");
    animation: moveHeroDesktop1 125s infinite linear;
}
.lp2_HomePage #heroLayer2{
    background-image: url("../../files/images/hero/layer2.png");
    animation: moveHeroDesktop2 75s infinite linear;
}
.lp2_HomePage #heroLayer3{
    background-image: url("../../files/images/hero/layer3.png");
    animation: moveHeroDesktop3 100s infinite linear;
} 

@keyframes moveHeroDesktop1 {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-4680px, 0, 0); }
}
@keyframes moveHeroDesktop2 {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-4680px, 0, 0); }
}
@keyframes moveHeroDesktop3 {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-4680px, 0, 0); }
}


@media only screen and (max-width: 1024px) { 
    .lp2_HomePage .heroLayer {  
        height: 200px;
    } 
    @keyframes moveHeroMobile { 
        0% { transform: translate3d(0, 0, 0); }
        100% { transform: translate3d(-3744px, 0, 0); }
    }
}

@font-face {
    font-family: saira;
    src: url(../../files/fonts/saira/Saira-Light.ttf);
}
/* end HERO ANIMATION */


/* MARQUEE EFFECT ON SHIP */
.marquee { 
    width: 3000px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
}
.marquee span {
    display: inline-block;
    width: max-content;
    padding-left: 100%; 
    will-change: transform;
    animation: marquee 30s linear infinite;
} 
@keyframes marquee {
    0% { transform: translate(0, 0); }
    100% { transform: translate(100%, 0); }
}
@media (prefers-reduced-motion: reduce) {
    .marquee span {
      animation-iteration-count: 1;
      animation-duration: 0.01;
      width: auto;
      padding-left: 0;
    }
}
/* end MARQUEE EFFECT ON SHIP */





/* HERO BUTTON */
.seeCollectionBtn {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 150px;
    height: 400px;
    span a { 
        height: 50px;
        width: 100px;
        background: #596887;
        padding: 10px;
        font-weight: bold;
        font-size: 30px;
        color: #fff;
        border: 1px solid #fff;
        box-shadow: 0px 0px 20px 0px white;
        transition: 0.3s;
        font-family: monospace;
        &:hover {
            background-color: #ffffff80;
            color: #18191A;
        }
    }
}

@media only screen and (max-width:1024px) {   
    .seeCollectionBtn {
        height: 200px;
        span {
            padding: 10px;
            font-size: 25px;
        }
    }
}
/* end HERO BUTTON */