/* HERO ANIMATION */
.lp2_HomePage .HomePage {
    width: 100%; 
    height: 100vh;
    background: #36364C;
    position: relative;
    overflow: hidden;
}
.lp2_HomePage .heroAnimation{
    position: absolute;
    left: 0px;
    top: 0px; 
}
.lp2_HomePage .heroLayer {  
    height: 400px; 
    width: 17000px;
    background-repeat: repeat-x;
    background-clip: border-box;
    background-size: auto 100%;
    position: absolute;
}
 
.lp2_HomePage #heroLayer0{
    background-image: url("../../files/images/layer0.png");   
}
.lp2_HomePage #heroLayer1{
    background-image: url("../../files/images/layer1.png");
    animation: moveHeroDesktop1 125s infinite linear;
}
.lp2_HomePage #heroLayer2{
    background-image: url("../../files/images/layer2.png");
    animation: moveHeroDesktop2 100s infinite linear;
}
.lp2_HomePage #heroLayer3{
    background-image: url("../../files/images/layer3.png");
    animation: moveHeroDesktop3 75s infinite linear;
} 

@keyframes moveHeroDesktop1 {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-4680px, 0, 0); }
}
@keyframes moveHeroDesktop2 {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-4680px, 0, 0); }
}
@keyframes moveHeroDesktop3 {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-4680px, 0, 0); }
}


@media only screen and (max-width: 1024px) { 
    .lp2_HomePage .heroLayer {  
        height: 200px;
    } 
    @keyframes moveHeroMobile { 
        0% { transform: translate3d(0, 0, 0); }
        100% { transform: translate3d(-3744px, 0, 0); }
    }
}

@font-face {
    font-family: saira;
    src: url(../../files/fonts/saira/Saira-Light.ttf);
}
/* end HERO ANIMATION */


.seeCollectionBtn {
    color: #fff;
    margin: 174px auto;
    position: absolute;
    width: 100%;
    height: 50px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
}