.bioContainer {
    padding-top: 50px;
    display: inline-block;
    color: #fff;
    font-size: 17px;
    padding: 20px;
    line-height: 51px;
    text-align: center;
    background-color: #18191a;
    box-shadow: 0px -125px 90px 50px #5c1a8a;
}