.terrestrialExamplesBox {
    float: left;
    position: relative;
    width: 16.6666666%;
    padding-bottom: 16.6666666%;
    background: #292929;
    box-shadow: inset 0px 0px 4px 4px #18191a;
}
.terrestrialExamplesBoxInner {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
    box-shadow: 0px 20px 20px -5px #6a3c6f;
}
 .terrestrialExamplesBoxInner img {
    width: 100%
}

@media only screen and (max-width:480px) {
    .terrestrialExamplesBox {
        width: 50%;
        padding-bottom: 50%;
    }
} 
@media only screen and (max-width:650px) and (min-width:481px) {
    .terrestrialExamplesBox {
        width: 50%;
        padding-bottom: 50%;
    }
} 